<!-- templates/account/home.html -->
{% extends 'base.html' %}
{% block css %}
.btn-signup {
color: hsl(0, 0%, 44%);
background-color: #fff;
border-color: hsl(51, 100%, 40%);
}
.btn-signup:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
color: hsl(0, 0%, 16%);
background-color: hsl(51, 100%, 47%);
border-color: hsl(51, 100%, 40%);
}

{% endblock %}
{% block title %}Question Answering System{% endblock %}

{% block content %}
<div class="container text-center m-5">
    <h1 class="display-4">Question Answering System</h1>
    {% if user.is_authenticated %}
    <h5> Hi <a style="text-decoration: none;" href="{% url 'userprofile:userprofile' request.user %}"><b style="color:green">{{ request.user }}</b></a>! </h5>
    <div class="mt-3">
        <a role="button" class="btn btn-outline-secondary" href="{% url 'userprofile:userprofile' request.user %}">View My
            Profile</a><br>

        <a role="button" class="mt-2 btn btn-outline-danger" href="/handlelogout/">Log Out</a><br>
        <a role="button" class="mt-2 btn btn-outline-info" href="/changepass/">Change Password</a><br>
        <a role="button" class="mt-2 btn btn-outline-primary" href="{% url 'qa:index' %}">Use Question Answering System</a>
        <!-- <hr>
        <p id="credit">Developed by  <a href="https://github.com/nbtin" target="_blank">Nguyen Bao Tin</a> and <a href="https://github.com/lhtrong" target="_blank">Le Huu Trong</a>.</p>
         -->
    </div>
    
    {% else %}
    <div class="row justify-content-center mt-2">
        <div class="col-md-4">
            <p class="lead">You are not logged in</p>
            <a role="button" class="btn btn-outline-success" href="/login/">Log In</a>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-md-4">
                <p class="lead">Don't have an account? Sign up!</p>
                <a role="button" class="btn btn-signup" href="/signup/">Sign Up</a>
            </div>
        </div>
        {% endif %}
        <hr style="margin-top: 20px;">
        <p id="credit">Developed by  <a href="https://github.com/nbtin" target="_blank">Nguyen Bao Tin</a> and <a href="https://github.com/lhtrong" target="_blank">Le Huu Trong</a>.</p>
    </div>
    {% endblock %}